.image1 {
  width: 945px;
  height: auto;
}

.image2 {
  width: 600px;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  display: flex;
  background-color: rgb(255, 255, 255);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  font-size: larger;
  border-bottom: 1px solid rgb(173, 173, 173);
  justify-items: baseline;
}

.nav {
  flex: 1;
  flex-wrap: wrap;
}

.nav1 {
  flex: 0.05;
  margin-left: 30px;
  margin-top: 7px;
}

.nav2 {
  flex: 0.05;
  margin-top: 7px;
  margin-left: 5px;
}

.nav3 {
  flex: 0.8;
  margin-top: 5px;
}

.nav4 {
  flex: 1;
}

.nav-img {
  height: 35px;
  width: auto;
}

.btn {
  flex: none;
  background-color: #567b95;
  border: 1px solid #326891;
  color: white;
  padding: 5px 5px 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  border-radius: 3px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.05rem;
  height: 28px;
}

.readCommentsBtn {
  width: 330px;
  margin-right: 50px;
}

.fullwidth {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 576px;
  width: 945px;
  border: 10px solid transparent;
  justify-content: space-between;
}

.smallcontainer {
  display: flex;
  flex-direction: row;
  width: 600px;
  align-items: center;
}

.sc1 {
  flex: 4;
  font-size: 0.9375rem;
  font-weight: 700;
  color: black;
}

.bold {
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}

.cursive {
  font-style: italic;
}

.sc2 {
  flex: 1;
}

.containerparent {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid transparent;
}

.middle-section {
  width: 600px;
  border: 10px solid transparent;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: 'Times New Roman', Times, serif;
}

.border-bottom {
  width: 80px;
  border-bottom: 1px solid black;
}

.box {
  width: 225px;
}

.fleximg {
  max-width: 225px;
  height: 100px;
}

.img1 {
  width: 945px;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #666;
  font-family: 'Times New Roman', Times, serif;
}

.small {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

.gray {
  color: #888;
}

.img2 {
  width: 600px;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #666;
  font-family: 'Times New Roman', Times, serif;
}

.big-section {
  border: 10px solid transparent;
  width: 945px;
}

.aside-text {
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
}

.aside-img {
  float: left;
  width: 75px;
  height: 75px;
}

.aside-section {
  width: 210px;
  display: flex;
}

.assidepos {
  position: absolute;
  right: 50px;
  top: 1800px;
  border: 10px solid transparent;
}

.header {
  margin: 20px;
  line-height: 3rem;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  border-bottom: 1px solid gray;
}

iframe {
  height: 315px;
  width: 560px;
  border: none;
}

.toolbar {
  width: 630px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.header3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  border-bottom: 1px solid lightgray;
}

.signup {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 6px 12px 4px;
  font-size: 0.9375rem;
  font-weight: 700;
}

.footercontainer {
  width: 1210px;
  height: auto;
  display: flex;
  padding-top: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.ftrcontainer1 {
  width: 875px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  margin-right: 10px;
}

.ftrcontainer1_1 {
  font-weight: 900;
  width: 852px;
  border-top: 1px solid black;
  padding-top: 20px;
  font-size: 16px;
  margin-bottom: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ftrcontainer1_2 {
  margin-right: 50px;
  margin-left: 5px;
}

.ftrcontainer1_3 {
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 5px;
}

.ftrcontainer1_4 {
  margin-top: 3px;
  margin-right: 3px;
}

.ftrcontainer2 {
  width: 315px;
}

.ftrcontainer2_1 {
  border-top: 1px solid black;
  width: 315px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top {
  border-top: 4px double lightgray;
}

.mostpopular {
  font-size: 1.1875rem;
  line-height: 1.4375rem;
  font-family: 'Times New Roman', Times, serif;
  border-top: 1px solid lightgray;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-separation {
  width: 1350px;
  padding-bottom: 30px;
  padding-top: 12px;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid #f3f3f3;
  border-top: 1px solid #f3f3f3;
  margin-top: 37px;
}

.footer2 {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  width: 1000px;
  text-align: end;
  margin-top: 5px;
}

.blue {
  color: rgb(86, 123, 149);
}
